<section class="cta-get-started">
  <div class="cta-get-started__overlay"></div>
  <div class="cta-get-started__content container">
    <div class="cta-get-started__inner">
      <img src="{{ "images/pnh-logo.webp" | relURL }}" alt="PlayNHost logo" class="cta-get-started__logo">
      <h2 class="cta-get-started__title">CREATE YOUR GAME SERVER<br>READY TO GET STARTED?</h2>
      <p class="cta-get-started__text">
        Get started today, and we’ll take 20% off your first month’s invoice with our New Year promotion!<br>
        Use code <strong>PNH25</strong> at checkout.
      </p>
      <div class="cta-get-started__buttons">
        <a href="https://playnhost.com/billing/index.php/login"        class="btn btn-primary">Create Account</a>
        <a href="/games/"  class="btn btn-secondary">Rent a Server</a>
      </div>
    </div>
  </div>
</section>
