<section class="features-section">
  <div class="container">
    <h2 class="features-section__heading">OUR FEATURES</h2>
    <div class="features-grid">
      <!-- 1 -->
      <div class="features-card"> 
        <div class="features-icon ">
        <img src="{{ "images/icons/server-spark.svg"}}" alt="headset">
        </div>
        <h3 class="features-title">Guaranteed 100% Uptime</h3>
        <p class="features-text">
          Rest assured every network hiccup is fully covered by our SLA.
        </p>
      </div>
      <!-- 2 -->
      <div class="features-card">
        <div class="features-icon">
        <img src="{{ "images/icons/headset.svg"}}" alt="headset">
        </div>
        <h3 class="features-title">24/7 Dedicated Support</h3>
        <p class="features-text">
          Our team is on hand around the clock to help whenever you need it.
        </p>
      </div>
      <!-- 3 -->
      <div class="features-card">
        <div class="features-icon">
        <img src="{{ "images/icons/world-www.svg"}}" alt="headset">
        </div>
        <h3 class="features-title">Free Custom Subdomain</h3>
        <p class="features-text">
          Stand out with your own IP on us using our easy subdomain creator.
        </p>
      </div>
      <!-- 4 -->
      <div class="features-card">
        <div class="features-icon">
        <img src="{{ "images/icons/settings-cog.svg"}}" alt="headset">
        </div>
        <h3 class="features-title">Instant Server Activation</h3>
        <p class="features-text">
          Go from checkout to live play in seconds.
        </p>
      </div>
      <!-- 5 -->
      <div class="features-card">
        <div class="features-icon">
        <img src="{{ "images/icons/shield-half.svg"}}" alt="headset">
        </div>
        <h3 class="features-title">Enterprise-Grade DDoS Defense</h3>
        <p class="features-text">
          Shield your server with SLA-backed protection against every attack.
        </p>
      </div>
      <!-- 6 -->
      <div class="features-card">
        <div class="features-icon">
        <img src="{{ "images/icons/device-gamepad-2.svg"}}" alt="headset">
        </div>
        <h3 class="features-title">Continuously Expanding Game Catalog</h3>
        <p class="features-text">
          We keep adding new titles so your community always has fresh adventures.
        </p>
      </div>
 
    </div>
  </div>
</section>
